body,
.header,
ul,
.section1,
.section3,
.section4,
.quadimg,
.ctabox,
.button {
    display: flex;
}

body,
.quadimg div {
    flex-direction: column;
}
body {
    margin: 0;
    border: 0;
    padding: 0;
}

button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    flex: 0 0 auto;
    padding: 8px 32px;
    font-weight: bold;
}


.header,
.section1,
.footer {
    color: #F9FAF8;
    background-color: #1F2937;
}

.section3 {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.header {
    justify-content: space-between;
    padding: 0 70px;
}

ul {
    list-style: none;
    gap: 16px;
    font-size: 18px;
    align-items: center;
}

a {
     text-decoration: none;
    color: #F9FAF8;
}

#logo {
    font-size: 24px;
    font-weight: 900;
}

.section1 {
    padding: 50px 70px;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}
.section1 p {
    font-size: 18px;
}

.section1 .box1 {
    width: 400px;
}

.section1 img {
   max-width: 100%;
   max-height: 100%;
   width: 400px;
   height: 200px;
}

h2 {
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.quadimg {
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.quadimg div {
    width: 200px;
    max-width: 100%;
    text-align: center;
}

.quadimg div img {
    max-width: 100%;
    height: 200px;
    border-radius: 20px;
}

.quadimg div p {
    text-align: center;
}

.section3,
.section4 {
    justify-content: center;
}

.quote {
    font-style: italic;
    width: 800px;
    padding: 100px 50px;
    font-size: 36px;
    font-weight: 300;
}

.quote .author {
    text-align: end;
    font-style: normal;
    font-weight: 700;
}

.quote p {
    margin: 0;
}

.ctabox {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 30px 150px;
    gap: 50px;
    margin: 60px auto;
    width: 400px;
    justify-content: space-between;
    flex-shrink: 0;
}

.ctabox p {
    margin: 0;
}

.button {
    align-items: center;
    justify-content: center;
}

.footer {
    text-align: center;
}